{% extends "layout.html" %}

{% block title %}
    Purchase
{% endblock %}

{% block main %}
   
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ symbol.symbol }}</td>
                <td>{{ symbol.name }}</td>
                <td>{{ symbol.price }}</td>
            </tr>
        </tbody>
    </table>
    
    <h4>Your cash : {{ cash }}</h4>
    <hr>

    <form action="/buy">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="share" placeholder="number of shares" type="number" step="1" pattern="\d+" >
            <input type="hidden" name="symbol" value="{{ symbol.synbol }}">
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
    
{% endblock %}
