{% extends "layout.html" %}

{% block body %}

    <h1>Resigterition!</h1>
    <form action="/register" method="post">
    <input autocomplete="off" autofocus name="email" placeholder="email" type="text">
        <select name="sport">
            <option disabled selected value="">sport</option>
            {% for sport in sports %}
                <option value="{{sport}}">{{sport}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    
{% endblock %}